.home_page_container {
    overflow: hidden;
    margin-top: 220px;

    .text_section {
        //max-width: 990px;
        max-width: 70%;
        margin: auto;
        .fade_in();

        h3 {
            font-family: @font1R;
            font-size: 26px;
            margin: auto;
            max-width: 37%;
            margin-bottom: 20px;
        }

        h2 {
            .heading_1();
            text-align: center;
        }

        span {
            color: @color1;
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 52px;
            background-color: #D8D8D8;
            margin: auto;
            margin-top: 130px;
        }
    }

    .video_section {
        //margin-top: 135px;
        margin-top: 10.5%;
        display: flex;
        justify-content: center;
        //padding: 0 120px;
        padding: 0 9.5%;

        .left {
            width: 55%;
            //max-width: 390px;
            //padding-right: 190px;
            text-align: right;
            padding-right: 18.5%;
            box-sizing: border-box;
            align-self: flex-end;
            padding-bottom: 10px;

            h2 {
                .heading_1();
            }

            p {
                margin-top: 10px;
                .paragraph_1();
                .fade_in();
                max-width: 75%;
                margin-left: auto;
            }
        }

        .right {
            width: 45%;

            .image_holder {
                position: relative;
                .slide_up();
                //max-width: 460px;

                .image {
                    cursor: pointer;
                    width: 100%;
                }

                &:hover {
                    .play_btn {
                       background-color: #fff;

                        .icon {
                            &.black {
                                opacity: 1;
                            }

                            &.white {
                                opacity: 0;
                            }
                        }
                    }
                }

                .play_btn {
                    position: absolute;
                    width: 95px;
                    height: 95px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-color: #000;
                    border-radius: 100%;
                    cursor: pointer;
                    border: solid 2px #000;
                    .transition();

                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 30px;
                        .transition();

                        &.black {
                            opacity: 0;
                        }
                    }
                }
            }

            .video_light_box {
                z-index: 9;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                display: none;
                padding: 50px 150px;
                box-sizing: border-box;

                .video_holder {
                    position: relative;
                    overflow: hidden;
                    padding-top: 56%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

                .close_light_box {
                    position: absolute;
                    width: 65px;
                    height: 65px;
                    top: 20px;
                    right: 20px;
                    background-color: #000;
                    border-radius: 100%;
                    cursor: pointer;
                    .transition();
                    border: solid 2px #000;

                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 25px;
                        .transition();

                        &.black {
                            opacity: 0;
                        }
                    }

                    &:hover {
                        background-color: #fff;

                        .icon {
                            &.black {
                                opacity: 1;
                            }

                            &.white {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .step_section {
        .step_icon {
            width: 50px;
            height: 50px;
            background-color: #000;
            border-radius: 100%;
            position: relative;
            margin-bottom: 30px;
            transform: rotateY(90deg);
            .transition(all, 500ms, ease, 1s);

            @media @laptop-xl {
                width: 70px;
                height: 70px;
            }

            &.in-view {
                transform: rotateY(0deg);
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
                font-family: @font1R;
                font-size: 17px;

                @media @laptop-xl {
                    font-size: 25px;
                }
            }
        }
    }

    .step_1_section {
        //margin-top: 160px;
        margin-top: 12.5%;
        display: flex;
        width: 100%;
        margin-left: auto;
        position: relative;

        &.in-view {
            &:after {
                width: calc(100% - 80px);
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            background-color: #F2F6EF;
            z-index: -1;
            .transition(all, 1.5s);
        }

        #pattern {
            position: absolute;
            right: 175px;
            width: 280px;
            transform: translateY(-50%);
        }

        .left {
            width: 54%;
            padding-right: 80px;
            box-sizing: border-box;

            .image_holder {
                .slide_left();

                img {
                    position: relative;
                    width: 100%;
                }
            }
        }

        .right {
            margin-left: auto;
            width: 46%;
            display: flex;
            padding-right: 80px;
            align-self: flex-end;

            .description {
                width: 60%;

                h2 {
                    .heading_1();
                }

                h3 {
                    margin-top: 10px;
                    .paragraph_1();
                    .fade_in();
                    letter-spacing: -0.4px;
                    max-width: 70%;
                }
            }

            .image {
                padding-top: 100px;
                width: 40%;
                //max-width: 260px;
                .slide_up();

                img {
                    width: 100%;
                }
            }
        }

        #line_pattern {
            position: absolute;
            bottom: -214px;
            width: 213px;
            left: 251px;
            display: none;
            //transform: translateY(-50%);
        }
    }

    .step_2_section {
        //margin-top: 150px;
        //padding-left: 140px;
        //padding-right: 300px;
        margin-top: 12%;
        display: flex;
        padding-left: 11%;
        padding-right: 23.5%;
        justify-content: center;

        .left {
            //max-width: 450px;
            //padding-right: 150px;
            text-align: right;
            padding-right: 18%;
            align-self: center;

            .step_icon {
                margin-left: auto;
            }

            h2 {
                .heading_1();
            }

            p {
                //margin-top: 10px;
                //max-width: 380px;
                margin-top: 2%;
                .paragraph_1();
                .fade_in();
                margin-left: auto;
                letter-spacing: -0.4px;
            }
        }

        .right {
            .image_holder {
                position: relative;
                .slide_up();
                //left: -220px;
                //max-width: 240px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .step_3_section {
        //margin-top: 160px;
        //padding: 160px 0 130px 0;
        margin-top: 12.5%;
        display: flex;
        width: 100%;
        margin-left: auto;
        position: relative;
        padding: 12.5% 0 10% 0;

        &.in-view {
            &:after {
                //width: calc(100% - 360px);
                width: 72%;
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #FBF7FF;
            z-index: -1;
            .transition(all, 1.5s);
        }

        #pattern {
            position: absolute;
            left: 175px;
            width: 280px;
            transform: translateY(-50%);
        }

        .left {
            width: 60%;
            box-sizing: border-box;
            display: flex;
            padding-right: 5.5%;
            padding-left: 1.5%;
            //padding-right: 70px;
            //padding-left: 20px;

            .image_holder {

                &.screen_1 {
                    padding-top: 70px;
                    width: 37%;
                    .slide_left(@position: relative, @leftStart: -100% , @leftEnd:0px ,@opacityStart: 1, @opacityEnd: 1, @speed: 1s, @delay: 500ms);
                }

                &.arrow {
                    align-self: center;
                    .fade_in(@opacityStart: 0, @opacityEnd: 1, @speed: 1s, @delay: 1.5s);
                }

                &.screen_2 {
                    transform: rotateY(90deg);
                    .transition(all, 400ms, ease, 1.5s);
                    width: 63%;

                    &.in-view {
                        transform: rotateY(0deg);
                    }
                }

                &.hand {
                    width: 17%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    .slide_left(@position: absolute, @leftStart: -100% , @leftEnd:0px ,@opacityStart: 1, @opacityEnd: 1, @speed: 1s, @delay: 1.5s);
                }

                img {
                    position: relative;
                    width: 100%;
                }
            }
        }

        .right {
            width: 40%;
            padding-right: 80px;

            h2 {
                .heading_1();
            }

            ul {
                margin-top: 30px;

                &.in-view {
                    li {
                        .fadein-mixin-loop (@i) when (@i > 0) {
                            &:nth-child(@{i}) {
                                .transition(all,1.2s,ease-out,900 + @i*100ms);
                            }
                            .fadein-mixin-loop(@i - 1);
                        }
                        .fadein-mixin-loop(10);
                        opacity: 1;
                    }
                }

                li {
                    display: flex;
                    max-width: 55%;
                    margin-bottom: 15px;
                    opacity: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .icon {
                        width: 10%;

                        img {
                            //width: 100%;
                        }
                    }

                    h3 {
                        width: 90%;
                        padding-left: 50px;

                        margin-top: 10px;
                        .paragraph_1();
                        //.fade_in();
                        letter-spacing: -0.4px;
                    }
                }
            }
        }
    }

    .step_4_section {
        //margin-top: 100px;
        margin-top: 8%;

        .top {
            display: flex;
            //padding-left: 100px;
            padding-left: 8%;
            justify-content: space-between;

            .left {
                width: 57%;

                h2 {
                    .heading_1();

                    span {
                        color: #FA6046;
                        background-color: #FFF3F1;
                        border-radius: 8px;
                        padding: 0 10px;
                        position: relative;
                        right: 10px;
                    }
                }

                p {
                    margin-top: 10px;
                    .paragraph_1();
                    .fade_in();
                    letter-spacing: -0.4px;
                }
            }

            .right {
                width: 43%;
                align-self: center;

                .image_holder {
                    .slide_right();

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .step_5_section {
        margin-top: 160px;
        display: flex;
        width: 100%;
        margin-left: auto;
        position: relative;

        .left {
            width: 54%;
            //padding-right: 80px;
            box-sizing: border-box;

            .image_holder {
                .slide_left(@position: relative, @leftStart: -100% , @leftEnd:0px ,@opacityStart: 0, @opacityEnd: 1, @speed: 1s, @delay: 500ms);

                img {
                    position: relative;
                    width: 100%;
                }
            }
        }

        .right {
            //margin-left: auto;
            width: 46%;
            //padding-left: 120px;
            //padding-right: 90px;
            padding-right: 7%;
            padding-left: 10%;
            align-self: center;

            h2 {
                .heading_1();
            }

            h3 {
                margin-top: 10px;
                .paragraph_1();
                .fade_in();
                letter-spacing: -0.4px;
                max-width: 54%;
            }
        }
    }

}